*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    margin: 0;
    padding: 0;
}



.logo{  
    height: 150px;
    width: 150px;
}

.main-header{
    height: 125px;
}

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-left: 0px;
    color: black;
}

a .nav-item{
    color: black;
}