@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    margin: 0;
    padding: 0;
}



.logo{  
    height: 250px;
    width: 250px;
}

.main-header{
    height: 225px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 150px 0px 50px;
    border-bottom: 1px solid black;
    
    /* background-color: #FFD578; */
}

.nav-items {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-left: 0px;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
}

a:hover{
    cursor: pointer;
}

a:link {
    color: #3A3755;
  }

a:visited {
    color: #3A3755;
  }

  h1{
    color:white;
  }







 
  

  .nav-btn{
      background-color: ghostwhite;
      border-radius: 18px;
  }

  .top-container{
    background: -webkit-linear-gradient(70deg, #FDD578 40%, #5ac8fa 40%);
    background: -o-linear-gradient(70deg, #FDD578 40%, #5ac8fa 40%);
    background: -moz-linear-gradient(70deg, #FDD578 40%, #5ac8fa 40%);
    background: linear-gradient(70deg, #FDD578 40%, #5ac8fa 40%);
    /* background-color: #FFD578; */
    background-size: cover;

}

.chef-pic{
    height: 400px;
    width: 300px;
}

.left-right-container{
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    padding: 0px 200px 0px 150px;
    height: 450px;

}

.left-side-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    height: 500px;
    width: 500px;
    /* margin-right: 70px; */
}

.main-container{
    background-color: #3A3755;
    background-size: cover;
    height: 450px;
}


.search{
    width: 550px;
    align-items: center;
}

div .row{
    display: flex;
    justify-content: center;
    margin: 30px 0px 0px 0px;
}

#main-search{
    margin: 0px 0px 0px 15px;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:700');

body {
  margin:0px;
  font-family:'Roboto';
  text-align:center;
}

#container {
  color:#999;
  text-transform: uppercase;
  font-size:36px;
  font-weight:bold;
  /* padding-top:200px;  
  position:fixed; */
  width:100%;
  bottom:45%;
  display:block;
}

#flip {
  height:50px;
  overflow:hidden;
}

#flip > div > div {
  color:#fff;
  padding:4px 12px;
  height:45px;
  margin-bottom:45px;
  display:inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  background:#FDD578;
}
#flip div:first-child div {
  background:#FDD578;
}
#flip div:last-child div {
  background:#FDD578;
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}

div .instructions{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    margin-top: 10px;
}

img .card-img-top{
    border: 0px none none;
}
