@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    margin: 0;
    padding: 0;
}



.logo{  
    height: 250px;
    width: 250px;
}

.main-header{
    height: 225px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 150px 0px 50px;
    border-bottom: 2px solid black;
    
    /* background-color: #FFD578; */
}

.nav-items {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-left: 0px;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
}

a:hover{
    cursor: pointer;
}

a:link {
    color: #3A3755;
  }

a:visited {
    color: #3A3755;
  }

  h1{
    color:white;
  }

  .nav-btn{
      background-color: ghostwhite;
      border-radius: 18px;
  }

  .top-container{
    background-color: #FFD578;
    background-size: cover;

}

.chef-pic{
    height: 400px;
    width: 300px;
}

.left-right-container{
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    padding: 0px 200px 0px 150px;
    height: 650px;

}

.left-side-wrap{
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    height: 500px;
    width: 500px;
    /* margin-right: 70px; */
}

.main-container{
    background-color: #3A3755;
    background-size: cover;
    height: 450px;
}


